.Root {
    font-family: Quicksand;
    background-color: #fdf6e3;
    color: #333333;
    overflow: hidden;
    height: 100%;
}

.Binder {
    position: fixed;
    height: 100%;
    line-height: 1.75;
}

.BinderDirectory {
    padding-left: 1.05em;
}

.BinderDirectoryIcon {
    display: inline-block;
    margin-right: 0.25em;
    margin-left: -1.05em;
    width: 0.8em;
    vertical-align: middle;
    text-align: center;
}

.BinderFile {
    padding-left: 1.05em;
}

.BinderIcon {
    margin-right: 0.5em;
    vertical-align: middle;
    text-align: center;
}

.BinderWrapper {
    width: 20%;
}

.Editor {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.EditorWrapper {
    height: 100%;
}

.Inspector {
    width: 20%;
}

.Menu {
    background-color: rgba(235, 235, 235, 0.3);
    height: 38px;
}

.Panel {
    background-color: rgba(245, 245, 245, 0.3);
    height: 100%;
    padding: 34px;
}

.Scene {
    padding-top: 72px;
    font-family: Cochin;
}

.SceneContent {
    max-width: 31em;
    margin: auto;
    font-size: 1.125em;
    line-height: 1.4;
}

.SceneContentEditor {
    height: 100%;
    min-height: 100%;
}

.SceneContentEditorArticle {
    outline: none;
}

.SceneDebug {
    font-family: Fira Code;
    line-height: 1.6em;
}

.SceneHeading {
    background-color: transparent;
    margin-bottom: 1em;
    padding: 0px;
    border: 0px;
    outline: none;
    width: 100%;
    font-family: Cochin;
    font-size: 3em;
    text-align: center;
}

.SceneParentHeading {
    margin-bottom: 0.5em;
    padding: 0px;
    border: 0px;
    outline: none;
    width: 100%;
    font-family: Cochin;
    font-size: 2em;
    text-align: center;
    color: #666666;
}

.TokenEmphasis {
    font-style: italic;
}

.TokenParagraph {
    margin-top: 0em;
    margin-bottom: 0.5em;
    text-indent: 1em;
}

.TokenSpeech {
    color: #268bd2;
}

.TokenWrap {
    display: none;
}

.Workspace {
    width: 60%;
    padding: 34px;
}

.WorkspaceHeader {
    display: flex;
    justify-content: space-between;
    line-height: 2;
}

.WorkspaceHeaderAuthor {
    text-align: right;
}
