.Root {
    font-family: Quicksand;
    color: #333333;
    overflow: hidden;
    height: 100%;
}

.Binder {
    height: 100%;
    line-height: 2;
}

.BinderFile {
    margin-bottom: 1em;
    padding-left: 1em;
}

.BinderWrapper {
    width: 20%;
}

.Editor {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.EditorWrapper {
    height: 100%;
}

.Inspector {
    width: 20%;
}

.Menu {
    background-color: rgba(235, 235, 235, 1);
    height: 38px;
}

.Panel {
    background-color: rgba(245, 245, 245, 1);
    height: 100%;
    padding: 34px;
}

.Scene {
    padding-top: 72px;
    font-family: Cochin;
}

.SceneHeading {
    margin-bottom: 1em;
    border: 0px;
    outline: none;
    width: 100%;
    font-family: Cochin;
    font-size: 3em;
    text-align: center;
}

.Workspace {
    width: 60%;
    padding: 34px;
}

.WorkspaceHeader {
    display: flex;
    justify-content: space-between;
    line-height: 2;
}

.WorkspaceHeaderAuthor {
    text-align: right;
}
